@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.titl {
  text-align: center;
}
h1 {
  font-size: 55px;
  color: #1e7c0b;
}

.esamjobah10 {
  position: -ms-page;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 18px;
  z-index: 1000;
  padding: 93px 0 0 915px;
}
.esamjobah1 {
  color: #48484b;
  font-size: 16px;
  margin-top: -836px;
  margin-left: 500px;
  font-weight: bold;
}

.esamjobah2 {
  font-size: 16px;
  margin-left: 343px;
  margin-top: -22px;
}

.esamjobah3 {
  color: #48484b;
  font-size: 16px;
  margin-left: 189px;
  margin-top: -26px;
  font-weight: bold;
}

.esamjobah4{
   margin-top: -20px;
   margin-left: 15px;

   

}

.esamjobah5{
   margin-top: 7px;
   font-weight: bold;
   font-size: 16px;
   margin-right: 100px;
}
.esamjobah6{
   font-weight: bold;
   font-size: 16px;
   margin-right: 100px;

}
.esamjobah7{
   margin-top: 7px;

   font-weight: bold;
   font-size: 16px;
   margin-right: 100px;

}
.esamjobah8{
   margin-top: 7px;

   font-weight: bold;
   font-size: 16px;
   margin-right: 120px;

}
.esamjobah9{
   margin-top: 9px;

   font-weight: bold;
   margin-right: 120px;

}
.esamjobah11{
width: 50PX;
font-weight: bold;
font-size: 10px;
margin-top: -17px;
margin-right: 250px;



   color: #48484b;

}

.img {
  position: relative;
  display: flex;
  background-image: url(/1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: -5px;
  z-index: -55;
}


@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap");

body{
   font-size: 100%;
   font-family: 'Noto Kufi Arabic', sans-serif;
   width: 100%;
   background-color: #4bb451; }
 
 form{
   background: #ffffff;
   margin: 100px auto;
   padding: 15px 40px 40px 40px;
   width: 70%;
   border-radius: 7px;

 }
 
 .tab p{
   font-size: 20px;
   margin: 17px 0 10px 0;
   text-align: center;
 }
 
 input{
   margin: 10px 0;
   padding: 10px;
   box-sizing: border-box;
   width: 100%;
   font-size: 17px;
   border: 1px solid #aaaaaa;
 }
 
 .index-btn-wrapper{
   display: flex;
 }
 
 .index-btn{
   margin: 20px 15px 0 0;
   background: #04AA6D;
   color: #ffffff;
   border: none;
   padding: 10px 20px;
   font-size: 17px;
   cursor: pointer;
   transition: 0.3s;
 }
 
 .index-btn:hover{
   opacity: 0.8;
 }
 
 .step{
   height: 30px;
   width: 30px;
   line-height: 30px;
   margin: 0 2px;
   color: white;
   background: green;
   border-radius: 50%;
   display: inline-block;
   opacity: 0.25;
 }
 





.mosft{
   width: 100%;
   font-size: 18px;
   margin:  20px  0;
   text-align: center;
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
   font-family: 'Noto Kufi Arabic', sans-serif;
   padding: 10px 0;
   background: #4caf50;
   color: #eaeaea;
}



 
 .select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  padding: .5em 1rem;
   background: #13af1b;
  color: white;
  border-radius: 7px;
  width: 100%;
  text-align: center;
  font-family: 'Noto Kufi Arabic', sans-serif;


 }









